.df_ing_container *{
    border-width:0px;
    border-style:solid;
    border-color:#333;

}
/* .df_ing_container {
    overflow: hidden !important;
} */
.df_ing_container.ig_has_lightbox .df_ing_image {
    cursor: pointer;
}
.df_ing_container.error-section{
    text-align: center;
    color:red;
}
.df_ing_container .grid {
    margin-left:-10px;
}
.df_ing_container .grid-item {
    padding-left: 10px;
    padding-bottom:10px;
}
.df_ing_container .grid-sizer,
.df_ing_container .grid-item {
    width: 20%; 
}
.df_ing_container .grid-item img,
.df_ing_container .grid-item iframe {
    width: 100%;
    display: block;
}
.lg-backdrop,
.lg-outer {
    z-index: 999999 !important;
}
.df_filter_buttons,
.df-instagram-user-info,
.item-content {
    border-style: solid;
    border-width: 0px;
    border-color:#333;
}
.df_filter_buttons {
    padding: 0 0 20px;
}
.df_filter_buttons button {
    border-style: solid;
    border-width: 0px;
    border-color:#333;
    padding: 8px 18px;
    border-radius: 0px; 
    margin-right: 15px;
    cursor: pointer;
}
.df_filter_buttons button:last-child {
    margin-right: 0 !important;
}
.df_ing_image .item-content[data-url]:not([data-url=""]){
    cursor: pointer;
}
.ing-load-more-btn {
    border-style: solid;
    border-width: 0px;
    border-color:#333;
    padding: 6px 12px;
    cursor: pointer;
    position: relative;
}
.ing-load-more-btn.loading,
.ing-load-more-btn.loading * {
    pointer-events: none;
}
.ing-load-more-btn .spinner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: -1;
    transition: all .2s ease;
}
.ing-load-more-btn .spinner svg {
    width: 1.4em;
    height: 1.4em;
    fill: #8300e9;
    z-index: 9;
    position: absolute;
    top: calc(50% - .7em);
    left: calc(50% - .7em);
}
.ing-load-more-btn .spinner:before {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:#fff;
    opacity: .8;
    z-index: 0;
}
.ing-load-more-btn.loading .spinner {
    opacity: 1;
    z-index: 0;
}
/* lightbox styles */
.df_ing_image figure {
    display: block;
    border-radius: 0px;
}
.lg .lg-sub-html div {
    display: block;
}
.lg .lg-sub-html * {
    transform: none !important;
    opacity: 1;
}
.lg .lg-sub-html {
    padding: 20px 0;
}
.lg .lg-sub-html .df_ing_caption {
    font-size: 18px;
    padding: 0;
    color: #ffffff;
    opacity: 1;
    max-width: 600px;
}
.lg .lg-sub-html .df_ig_description {
    font-size: 14px;
    padding: 0;
    color: #ffffff;
    opacity: 1;
    max-width: 600px;
}
.lg-toolbar {
    background-color: transparent !important;
}
.lg-close {
    background-color: transparent !important;
    border: none;
    color: #ffffff !important;
}
.lg-backdrop {
    background-color: rgba(0,0,0,.8) !important;
}
.df_ig_lightbox .lg-next,
.df_ig_lightbox .lg-prev {
    border: none;
    background: transparent !important;
    color: #ffffff !important;
}
.df_ing_container .item-content{
    display:flex;
    flex-direction: column;
}
/* Hover */
.always-show-title,
.always-show-description {
    opacity: 1 !important;
}


.df-instagram-user-info {
    display: flex;
}

a.df-instagram-user {
    display: flex;
    flex-direction: row;
    flex-basis: 70%;
    }

.df-instagram-user-profile-picture {
    width: 50px;
    display: flex;
    align-items: center;
}


.df-instagram-username-and-postdate {
    display: flex;
    flex-direction: column;
    width: 100%;
}
a.df-instagram-feed-icon {
    flex-basis: 30%;
    text-align: right;
}

span.et-pb-icon.instagram_icon {
    font-size: 48px;
}
span.df-instagram-user-name{
    font-size:14px;
    color:#333;
}
span.df-instagram-postdate,
.df_ing_caption{
    font-size:16px;
    color:#333;
}

/* Only Video */
.df_ing_container .image-container.media_type_video .c4-izmir figcaption,
.df_ing_container .image-container.media_type_video .c4-izmir .df-overlay,
.df_ing_container .image-container.media_type_video .c4-izmir figcaption:after, 
.df_ing_container .image-container.media_type_video .c4-izmir figcaption:before, 
.df_ing_container .image-container.media_type_video .c4-izmir:after,
.df_ing_container .image-container.media_type_video .c4-izmir:before,
.df_ing_container .image-container.media_type_video [class*=" c4-border"] figcaption,
.df_ing_container .image-container.media_type_video [class^=c4-border] figcaption{
    z-index:-1 !important;
}