.df_acf_gallery_container {
    /*overflow: hidden !important;*/
}
.df_acf_gallery_container.ig_has_lightbox .df_acf_gallery_image {
    cursor: pointer;
}
.df_acf_gallery_container .grid {
    margin-left:-10px;
}
.df_acf_gallery_container .grid-item {
    padding-left: 10px;
    padding-bottom:10px;
}
.df_acf_gallery_container .grid-sizer,
.df_acf_gallery_container .grid-item {
    width: 20%;
}
.df_acf_gallery_container .grid-item img {
    width: 100%;
    display: block;
}
.lg-backdrop,
.lg-outer {
    z-index: 999999 !important;
}
.item-content {
    border-style: solid;
    border-width: 0px;
    border-color:#333;
}
.df_acf_gallery_image figure{
    border-style: solid;
    border-width: 0px;
    border-color:#333;
}
.df_acf_gallery_image .item-content[data-url]:not([data-url=""]){
    cursor: pointer;
}
.df-acf-gallery-load-more-btn {
    border-style: solid;
    border-width: 0px;
    border-color:#333;
    padding: 6px 12px 6px 12px;
    cursor: pointer;
    position: relative;
}
.df-acf-gallery-load-more-btn.loading,
.df-acf-gallery-load-more-btn.loading * {
    pointer-events: none;
}
.df-acf-gallery-load-more-btn .spinner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: -1;
    transition: all .2s ease;
}
.df-acf-gallery-load-more-btn .spinner svg {
    width: 1.4em;
    height: 1.4em;
    fill: #8300e9;
    z-index: 9;
    position: absolute;
    top: calc(50% - .7em);
    left: calc(50% - .7em);
}
.df-acf-gallery-load-more-btn .spinner:before {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:#fff;
    opacity: .8;
    z-index: 0;
}
.df-acf-gallery-load-more-btn.loading .spinner {
    opacity: 1;
    z-index: 0;
}
.df-acf-gallery-load-more-btn.has_icon {
    padding: 6px 42px 6px 12px;
}
.df-acf-gallery-load-more-icon {
    font-family: ETmodules;
    text-indent: 0;
    font-size: 32px;
    line-height: 31px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: auto;
    margin-left: 5px;
    pointer-events: none;
}
.df_acf_gallery_container .df_acf_gallery_icon_wrap{
    border-width: 0px;
    border-style: solid;
    border-color: #333;
    overflow: visible;
}
.df_acf_gallery_container .outside.c4-layout-top-left, .df_acf_gallery_container .outside.c4-layout-bottom-left{
    text-align: start;
}
.df_acf_gallery_container .outside.c4-layout-top-center, .df_acf_gallery_container .outside.c4-layout-bottom-center{
    text-align: center;
}
.df_acf_gallery_container .outside.c4-layout-top-right, .df_acf_gallery_container .outside.c4-layout-bottom-right{
    text-align: end;
}
/* lightbox styles */
.df_acf_gallery_image figure {
    display: block;
    border-radius: 0px;
}
.lg .lg-sub-html div {
    display: block;
}
.lg .lg-sub-html * {
    transform: none !important;
    opacity: 1;
}
.lg .lg-sub-html {
    padding: 20px 0;
}
.lg .lg-sub-html .df_acf_gallery_caption {
    font-size: 18px;
    padding: 0;
    color: #ffffff;
    opacity: 1;
}
.lg .lg-sub-html .df_acf_gallery_description {
    font-size: 14px;
    padding: 0;
    color: #ffffff;
    opacity: 1;
}
.lg-toolbar {
    background-color: transparent !important;
}
.lg-close {
    background-color: transparent !important;
    border: none;
    color: #ffffff !important;
}
.lg-backdrop {
    background-color: rgba(0,0,0,.8) !important;
}
.df_acf_gallery_lightbox .lg-next,
.df_acf_gallery_lightbox .lg-prev {
    border: none;
    background: transparent !important;
    color: #ffffff !important;
}
/* Hover */
.always-show-title,
.always-show-description {
    opacity: 1 !important;
}
.item-content .df_acf_gallery_hide_title,
.item-content .df_acf_gallery_hide_description {
    display: none !important;
}
.difl_acfgallery .c4-izmir figcaption {
    pointer-events: none;
}

.difl_acfgallery .outside{
    position: relative !important;
}
.et-fb-form__toggle[data-name="hover"] .et-fb-form__group .et-fb-multiple-buttons-container {
    width: 100% !important;
}

/* Pagination */
.df-acf-gallery-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}
.df-acf-gallery-pagination::after {
    display: none !important;
}
.df-acf-gallery-pagination .page-numbers {
    font-size: 16px;
    border: 0px solid;
    margin-right: 10px;
}
.df-acf-gallery-pagination .page-numbers:last-child {
    margin-right: 0px !important;
}
.df-acf-gallery-pagination a.older::before,
.df-acf-gallery-pagination a.prev::before {
    font-family: 'ETmodules';
    content: '4';
    speak: none;
    font-weight: normal;
    -webkit-font-feature-settings: normal;
    font-feature-settings: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    direction: ltr;
    margin-right: 5px;
}
.df-acf-gallery-pagination a.newer::after,
.df-acf-gallery-pagination a.next::after {
    font-family: 'ETmodules';
    content: '5';
    speak: none;
    font-weight: normal;
    -webkit-font-feature-settings: normal;
    font-feature-settings: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    direction: ltr;
    margin-left: 5px;
}
.df-acf-gallery-pagination.only_icon a.newer::after,
.df-acf-gallery-pagination.only_icon a.next::after,
.df-acf-gallery-pagination.only_icon a.older::before,
.df-acf-gallery-pagination.only_icon a.prev::before {
    margin-left: 0 !important;
    margin-right: 0 !important;
}


.difl_acfgallery .df_acf_gallery:has(h2.no-post) {
    height: auto !important;
}

