.diviflash_grid_layout_manager {


  &__popup {
    padding: 0 16px 16px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba( 0, 0, 0, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 1.5px );
    z-index: 9999999999;
    display: flex;
    justify-content: center;
    align-items: center;

    &__wrapper {
      position: relative;
      width: auto;
      background: white;
      border-radius: 5px;
      padding: 10px;

      &__close {
        position: absolute;
        top: -25px;
        right: 0;
        cursor: pointer;

        &::after {
          content: "\4d";
          font-family: ETModules;
          font-size: 26px;
          line-height: 1em;
          font-weight: 800;
          color: white;
          padding: 2px;
          position: absolute;
          background: red;
          border-radius: 100%;
        }
      }

      &__container {
        position: absolute;
        //width: 100%;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(8, 1fr);
        border: 2px dashed transparent;
        gap: 5px;
        padding: 5px;
        border-radius: 4px;
        z-index: 2;

        &__content {
          position: relative;
          background: var(--app-color-dark);
          width: 75px;
          height: 75px;
          border-radius: 2px;
          transition: background-color 0.2s;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px, rgba(0, 0, 0, 0.1) 0px 0px 1px 1px;

          &:hover .diviflash_grid_layout_manager__actions{
            display: block;
          }
        }
      }

      &__helper_container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(8, 1fr);
        border: 2px dashed rgba(133, 131, 131, 0.4);
        gap: 5px;
        padding: 5px;
        border-radius: 4px;
        z-index: 1;

        &__content {
          width: 75px;
          height: 75px;
          outline: 1px dashed rgba(133, 131, 131, 0.1);
        }
      }
    }
  }

  &__actions {
    display: none;
    width: 100%;
    height: 100%;

    .active::before{
      background-color: #fff;
    }

    &__left {
      &::before {
        content: "\23";
        font-family: ETModules;
        font-size: 14px;
        line-height: 1em;
        font-weight: 800;
        padding: 4px;
        position: absolute;
        top: 50%;
        left: -10px;
        transform: translateY(-50%);
        border-radius: 100%;
        cursor: col-resize;
        color: #000;
        text-shadow: 0px 0px 1px #FF0000;
      }
      &:hover::before {
        background: #fff;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px;
      }
    }

    &__right {
      &::before {
        content: "\24";
        font-family: ETModules;
        font-size: 14px;
        line-height: 1em;
        font-weight: 800;
        padding: 4px;
        position: absolute;
        top: 50%;
        right: -10px;
        transform: translateY(-50%);
        border-radius: 100%;
        cursor: col-resize;
        color: #000;
        text-shadow: 0px 0px 1px #FF0000;
      }
      &:hover::before {
        background: #fff;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px;
      }
    }

    &__top {
      &::before {
        content: "\21";
        font-family: ETModules;
        font-size: 14px;
        line-height: 1em;
        font-weight: 800;
        padding: 4px;
        position: absolute;
        top: -10px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 100%;
        cursor: row-resize;
        color: #000;
        text-shadow: 0px 0px 1px #FF0000;
      }
      &:hover::before {
        background: #fff;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px;
      }
    }

    &__bottom {
      &::before {
        content: "\22";
        font-family: ETModules;
        font-size: 14px;
        line-height: 1em;
        font-weight: 800;
        padding: 4px;
        position: absolute;
        left: 50%;
        bottom: -10px;
        transform: translateX(-50%);
        border-radius: 100%;
        cursor: row-resize;
        color: #000;
        text-shadow: 0px 0px 1px #FF0000;
      }
      &:hover::before {
        background: #fff;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px;
      }
    }

    &__top_left {
      &::before {
        content: "\2d";
        font-family: ETModules;
        font-size: 10px;
        line-height: 1em;
        font-weight: 800;
        padding: 4px;
        position: absolute;
        top: -8px;
        left: -8px;
        border-radius: 100%;
        cursor: nwse-resize;
        color: #000;
        text-shadow: 0px 0px 1px #FF0000;
      }
      &:hover::before {
        background: #fff;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px;
      }
    }

    &__top_right {
      &::before {
        content: "\2e";
        font-family: ETModules;
        font-size: 10px;
        line-height: 1em;
        font-weight: 800;
        padding: 4px;
        position: absolute;
        top: -8px;
        right: -8px;
        border-radius: 100%;
        cursor: nesw-resize;
        color: #000;
        text-shadow: 0px 0px 1px #FF0000;
      }
      &:hover::before {
        background: #fff;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px;
      }
    }

    &__bottom_left {
      &::before {
        content: "\2e";
        font-family: ETModules;
        font-size: 10px;
        line-height: 1em;
        font-weight: 800;
        padding: 4px;
        position: absolute;
        left: -8px;
        bottom: -8px;
        border-radius: 100%;
        cursor: nesw-resize;
        color: #000;
        text-shadow: 0px 0px 1px #FF0000;
      }
      &:hover::before {
        background: #fff;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px;
      }
    }

    &__bottom_right {
      &::before {
        content: "\2d";
        font-family: ETModules;
        font-size: 10px;
        line-height: 1em;
        font-weight: 800;
        padding: 4px;
        position: absolute;
        right: -8px;
        bottom: -8px;
        border-radius: 100%;
        cursor: nwse-resize;
        color: #000;
        text-shadow: 0px 0px 1px #FF0000;
      }
      &:hover::before {
        background: #fff;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px;
      }
    }

  }

}


//.diviflash_grid_layout_manager{
//  position: relative;
//
//
//  &__container{
//    position: absolute;
//    width: 100%;
//    display: grid;
//    grid-template-columns: repeat(8, 1fr);
//    grid-template-rows: repeat(8, 1fr);
//    border: 2px dashed transparent;
//    gap: 5px;
//    padding: 5px;
//    border-radius: 4px;
//    z-index: 2;
//
//    &__content{
//      //background: rgba(133, 131, 131, 0.1);
//      background: var(--app-color-dark);
//      width: 100%;
//      min-height: 20px;
//      border-radius: 2px;
//      transition: background-color 0.2s;
//      box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px, rgba(0, 0, 0, 0.1) 0px 0px 1px 1px;
//
//      &:hover{
//        cursor: pointer;
//      }
//    }
//  }
//
//  &__helper_container{
//    width: 100%;
//    display: grid;
//    grid-template-columns: repeat(8, 1fr);
//    grid-template-rows: repeat(8, 1fr);
//    border: 2px dashed rgba(133, 131, 131, 0.4);
//    gap: 5px;
//    padding: 5px;
//    border-radius: 4px;
//    z-index: 1;
//
//    &__content{
//      width: 100%;
//      min-height: 20px;
//      outline: 1px dashed rgba(133, 131, 131, 0.1);
//    }
//  }
//
//  &__tooltip {
//    position: absolute;
//    z-index: 100000000000000000000;
//    background-color: #333;
//    color: #fff;
//    padding: 5px 10px;
//    border-radius: 5px;
//    pointer-events: none;
//    font-size: 12px;
//    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
//  }
//
//}