.dgls_dg_logo_showcase {

}
.dg-logos {
    display: grid;
}

.dg-logos.logo_1 {
    grid-template-columns: auto;
}
.dg-logos.logo_2 {
    grid-template-columns: 1fr 1fr;
}
.dg-logos.logo_3 {
    grid-template-columns: repeat(3, 1fr);
}
.dg-logos.logo_4 {
    grid-template-columns: repeat(4, 1fr);
}
.dg-logos.logo_5 {
    grid-template-columns: repeat(5, 1fr);
}
.dg-logos.logo_6 {
    grid-template-columns: repeat(6, 1fr);
}
.dg-logos.logo_7 {
    grid-template-columns: repeat(7, 1fr);
}
.dg-logos.logo_8 {
    grid-template-columns: repeat(8, 1fr);
}
.dg-logos.logo_9 {
    grid-template-columns: repeat(9, 1fr);
}
.dg-logos.logo_10 {
    grid-template-columns: repeat(10, 1fr);
}
.dg-logos.logo_11 {
    grid-template-columns: repeat(11, 1fr);
}
.dg-logos.logo_12 {
    grid-template-columns: repeat(12, 1fr);
}
/*
.dg-logos {
    display: flex;
    flex-wrap: wrap;
}
.dg-logos.logo_1 .dgl-showcase {
    width: 100%;
}
.dg-logos.logo_2 .dgl-showcase {
    width: 50%;
}
.dg-logos.logo_3 .dgl-showcase {
    width: 33.33333%;
}
.dg-logos.logo_4 .dgl-showcase {
    width: 25%;
}
.dg-logos.logo_5 .dgl-showcase {
    width: 20%;
}
.dg-logos.logo_6 .dgl-showcase {
    width: 16.6666%;
}
.dg-logos.logo_7 .dgl-showcase {
    width: 14.285714%;
}
.dg-logos.logo_8 .dgl-showcase {
    width: 12.5%;
}
.dg-logos.logo_9 .dgl-showcase {
    width: 11.1111%;
}
.dg-logos.logo_10 .dgl-showcase {
    width: 10%;
}
.dg-logos.logo_11 .dgl-showcase {
    width: 9.0909%;
}
.dg-logos.logo_12 .dgl-showcase {
    width: 8.333%;
}
*/

.logo_info.top-left, .logo_info.bottom-left {
    text-align: left;
}
.logo_info.top-right, .logo_info.bottom-right {
    text-align: right;
}
.logo_info.top-center, .logo_info.bottom-center {
    text-align: center;
}
.dg-logos.landscape .dgl-showcase img, .dg-logos.square .dgl-showcase img {
    height: 100%;
}
.h_flex-start {
    justify-content: flex-start;
}
.h_center {
    justify-content: center;
}
.h_flex-end {
    justify-content: flex-end;
}
.v_flex-start {
   align-items: flex-start;
   /* align-content: flex-start; */
}
.v_center {
   align-items: center;
   /* align-content: center; */
}
.v_flex-end {
   align-items: flex-end;
   /* align-content: flex-end; */
}
.portrait .dgl-orientation, .landscape .dgl-orientation, .square .dgl-orientation{
    display: flex;
    flex-direction: column;
} 
.dgl-showcase img {
    transition: 1s;
}
/* Collect animation css on */

/* Hover Effects Start */
@keyframes pulse {
    0%, to {
        -webkit-transform: scaleX(1);
        transform: scaleX(1)
    }
    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05)
    }
}
.dgls_pulse,
.dgls_pulse_h:hover {
    -webkit-animation-name: pulse;
    animation-name: pulse;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
}

@keyframes bounce {
    0%, 20%, 53%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
    40%, 43% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        -webkit-transform: translate3d(0, -30px, 0) scaleY(1.1);
        transform: translate3d(0, -30px, 0) scaleY(1.1)
    }
    70% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        -webkit-transform: translate3d(0, -15px, 0) scaleY(1.05);
        transform: translate3d(0, -15px, 0) scaleY(1.05)
    }
    80% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        -webkit-transform: translateZ(0) scaleY(.95);
        transform: translateZ(0) scaleY(.95)
    }
    90% {
        -webkit-transform: translate3d(0, -4px, 0) scaleY(1.02);
        transform: translate3d(0, -4px, 0) scaleY(1.02)
    }
}
@-webkit-keyframes bounce {
    0%, 20%, 53%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
    40%, 43% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        -webkit-transform: translate3d(0, -30px, 0) scaleY(1.1);
        transform: translate3d(0, -30px, 0) scaleY(1.1)
    }
    70% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        -webkit-transform: translate3d(0, -15px, 0) scaleY(1.05);
        transform: translate3d(0, -15px, 0) scaleY(1.05)
    }
    80% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        -webkit-transform: translateZ(0) scaleY(.95);
        transform: translateZ(0) scaleY(.95)
    }
    90% {
        -webkit-transform: translate3d(0, -4px, 0) scaleY(1.02);
        transform: translate3d(0, -4px, 0) scaleY(1.02)
    }
}
.dgls_bounce,
.dgls_bounce_h:hover {
    animation-name: bounce;
    -webkit-animation-name: bounce;
    transform-origin: center bottom;
    -webkit-transform-origin: center bottom;
    animation-duration: 2s; /* Set animation duration */
}
@keyframes flash {
    0%, 50%, to {
        opacity: 1
    }
    25%, 75% {
        opacity: 0
    }
}
@-webkit-keyframes flash {
    0%, 50%, to {
        opacity: 1
    }
    25%, 75% {
        opacity: 0
    }
}

.dgls_flash,
.dgls_flash_h:hover {
    -webkit-animation-name: flash;
    animation-name: flash;
    animation-duration: 2s;
}

@-webkit-keyframes rubberBand {
    0%, to {
        -webkit-transform: scaleX(1);
        transform: scaleX(1)
    }
    30% {
        -webkit-transform: scale3d(1.25, .75, 1);
        transform: scale3d(1.25, .75, 1)
    }
    40% {
        -webkit-transform: scale3d(.75, 1.25, 1);
        transform: scale3d(.75, 1.25, 1)
    }
    50% {
        -webkit-transform: scale3d(1.15, .85, 1);
        transform: scale3d(1.15, .85, 1)
    }
    65% {
        -webkit-transform: scale3d(.95, 1.05, 1);
        transform: scale3d(.95, 1.05, 1)
    }
    75% {
        -webkit-transform: scale3d(1.05, .95, 1);
        transform: scale3d(1.05, .95, 1)
    }
}

@keyframes rubberBand {
    0%, to {
        -webkit-transform: scaleX(1);
        transform: scaleX(1)
    }
    30% {
        -webkit-transform: scale3d(1.25, .75, 1);
        transform: scale3d(1.25, .75, 1)
    }
    40% {
        -webkit-transform: scale3d(.75, 1.25, 1);
        transform: scale3d(.75, 1.25, 1)
    }
    50% {
        -webkit-transform: scale3d(1.15, .85, 1);
        transform: scale3d(1.15, .85, 1)
    }
    65% {
        -webkit-transform: scale3d(.95, 1.05, 1);
        transform: scale3d(.95, 1.05, 1)
    }
    75% {
        -webkit-transform: scale3d(1.05, .95, 1);
        transform: scale3d(1.05, .95, 1)
    }
}

.dgls_rubberBand,.dgls_rubberBand_h:hover {
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
    animation-duration: 2s;
}

@-webkit-keyframes headShake {
    0%, 50% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
    6.5% {
        -webkit-transform: translateX(-6px) rotateY(-9deg);
        transform: translateX(-6px) rotateY(-9deg)
    }
    18.5% {
        -webkit-transform: translateX(5px) rotateY(7deg);
        transform: translateX(5px) rotateY(7deg)
    }
    31.5% {
        -webkit-transform: translateX(-3px) rotateY(-5deg);
        transform: translateX(-3px) rotateY(-5deg)
    }
    43.5% {
        -webkit-transform: translateX(2px) rotateY(3deg);
        transform: translateX(2px) rotateY(3deg)
    }
}
@keyframes headShake {
    0%, 50% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
    6.5% {
        -webkit-transform: translateX(-6px) rotateY(-9deg);
        transform: translateX(-6px) rotateY(-9deg)
    }
    18.5% {
        -webkit-transform: translateX(5px) rotateY(7deg);
        transform: translateX(5px) rotateY(7deg)
    }
    31.5% {
        -webkit-transform: translateX(-3px) rotateY(-5deg);
        transform: translateX(-3px) rotateY(-5deg)
    }
    43.5% {
        -webkit-transform: translateX(2px) rotateY(3deg);
        transform: translateX(2px) rotateY(3deg)
    }
}
.dgls_headShake,
.dgls_headShake_h:hover {
    animation-timing-function: ease-in-out;
    -webkit-animation-name: headShake;
    animation-name: headShake;
    animation-duration: 2s;
}

.dgls-image-zoom-in.hover img,
.dgls-image-zoom-in:focus img,
.dgls-image-zoom-in:hover img,
:focus>.dgls-image-zoom-in img {
    transform: scale(1.25);
    transition: 1s;
}
.dgls-image-zoom-out img {
    transform: scale(1.25);
    transition: 1s;
}
.dgls-image-zoom-out.hover img,
.dgls-image-zoom-out:focus img,
.dgls-image-zoom-out:hover img,
:focus>.dgls-image-zoom-out img {
    transform: scale(1);
    transition: 1s;
}
.dgls-image-pan-up img {
    transform-origin: top;
    transform: scale(1.2) translate(0, 0);
    transition: 1s;
}
.dgls-image-pan-up.hover img,
.dgls-image-pan-up:focus img,
.dgls-image-pan-up:hover img,
:focus>.dgls-image-pan-up img {
    transform: scale(1.2) translate(0, -15%);
    transition: 1s;
}
.dgls-image-pan-down img {
    transform-origin: bottom;
    transform: scale(1.2) translate(0, 0);
    transition: 1s;
}
.dgls-image-pan-down:focus img,
.dgls-image-pan-down:hover img,
:focus>.dgls-image-pan-down img {
    transform: scale(1.2) translate(0, 15%);
    transition: 1s;
}
.dgls-image-pan-left img {
    transform-origin: left;
    transform: scale(1.2) translate(0, 0);
    transition: 1s;
}
.dgls-image-pan-left.hover img,
.dgls-image-pan-left:focus img,
.dgls-image-pan-left:hover img,
:focus>.dgls-image-pan-left img {
    transform: scale(1.2) translate(-15%, 0);
    transition: 1s;
}
.dgls-image-pan-right img {
    transform-origin: right;
    transform: scale(1.2) translate(0, 0);
    transition: 1s;
}
.dgls-image-pan-right.hover img,
.dgls-image-pan-right:focus img,
.dgls-image-pan-right:hover img,
:focus>.dgls-image-pan-right img {
    transform: scale(1.2) translate(15%, 0);
    transition: 1s;
}
.dgls-image-rotate-left img {
    transform: scale(1.1) translate(0, 0);
    transition: 1s;
}
.dgls-image-rotate-left.hover img,
.dgls-image-rotate-left:focus img,
.dgls-image-rotate-left:hover img,
:focus>.dgls-image-rotate-left img {
    transform: scale(1.3) rotate(-15deg);
    transition: 1s;
}
.dgls-image-rotate-right img {
    transform: scale(1.1) translate(0, 0);
    transition: 1s;
}
.dgls-image-rotate-right.hover img,
.dgls-image-rotate-right:focus img,
.dgls-image-rotate-right:hover img,
:focus>.dgls-image-rotate-right img {
    transform: scale(1.3) rotate(15deg);
    transition: 1s;
}
.dgls-image-blur.hover img,
.dgls-image-blur:focus img,
.dgls-image-blur:hover img,
:focus>.dgls-image-blur img {
    filter: blur(4px);
    transform: scale(1.1);
    transition: 1s;
}
/* Hover Effects The End */

/* Reveal Animation Start 

    [class*=" dgls-fade"],
    [class*=" dgls-reveal"],
    [class*=" dgls-rotate"],
    [class^=dgls-fade],
    [class^=dgls-reveal],
    [class^=dgls-rotate] {
        display: inline-block
    }

    [class*=" dgls-fade"]>*,
    [class*=" dgls-reveal"]>*,
    [class*=" dgls-rotate"]>*,
    [class^=dgls-fade]>*,
    [class^=dgls-reveal]>*,
    [class^=dgls-rotate]>* {
        display: inline-block
    }

    [class*=" dgls-fade"]>:last-child,
    [class*=" dgls-reveal"]>:last-child,
    [class*=" dgls-rotate"]>:last-child,
    [class^=dgls-fade]>:last-child,
    [class^=dgls-reveal]>:last-child,
    [class^=dgls-rotate]>:last-child {
        margin-bottom: 0
    }

    [class*=" dgls-reveal"],
    [class*=" dgls-rotate"],
    [class^=dgls-reveal],
    [class^=dgls-rotate] {
        overflow: hidden;
        opacity: 1
    }

    [class*=" dgls-fade"],
    [class^=dgls-fade] {
        opacity: 0
    }

    .dgls-izmir.hover [class*=" dgls-fade"],
    .dgls-izmir.hover [class^=dgls-fade],
    .dgls-izmir:focus [class*=" dgls-fade"],
    .dgls-izmir:focus [class^=dgls-fade],
    .dgls-izmir:hover [class*=" dgls-fade"],
    .dgls-izmir:hover [class^=dgls-fade],
    :focus>.dgls-izmir [class*=" dgls-fade"],
    :focus>.dgls-izmir [class^=dgls-fade] {
        opacity: 1;
        transform: translate(0)
    }

    .dgls-izmir.hover [class*=" dgls-reveal"],
    .dgls-izmir.hover [class*=" dgls-rotate"],
    .dgls-izmir.hover [class^=dgls-reveal],
    .dgls-izmir.hover [class^=dgls-rotate],
    .dgls-izmir:focus [class*=" dgls-reveal"],
    .dgls-izmir:focus [class*=" dgls-rotate"],
    .dgls-izmir:focus [class^=dgls-reveal],
    .dgls-izmir:focus [class^=dgls-rotate],
    .dgls-izmir:hover [class*=" dgls-reveal"],
    .dgls-izmir:hover [class*=" dgls-rotate"],
    .dgls-izmir:hover [class^=dgls-reveal],
    .dgls-izmir:hover [class^=dgls-rotate],
    :focus>.dgls-izmir [class*=" dgls-reveal"],
    :focus>.dgls-izmir [class*=" dgls-rotate"],
    :focus>.dgls-izmir [class^=dgls-reveal],
    :focus>.dgls-izmir [class^=dgls-rotate] {
        opacity: 1
    }

    .dgls-izmir.hover [class*=" dgls-reveal"]>*,
    .dgls-izmir.hover [class*=" dgls-rotate"]>*,
    .dgls-izmir.hover [class^=dgls-reveal]>*,
    .dgls-izmir.hover [class^=dgls-rotate]>*,
    .dgls-izmir:focus [class*=" dgls-reveal"]>*,
    .dgls-izmir:focus [class*=" dgls-rotate"]>*,
    .dgls-izmir:focus [class^=dgls-reveal]>*,
    .dgls-izmir:focus [class^=dgls-rotate]>*,
    .dgls-izmir:hover [class*=" dgls-reveal"]>*,
    .dgls-izmir:hover [class*=" dgls-rotate"]>*,
    .dgls-izmir:hover [class^=dgls-reveal]>*,
    .dgls-izmir:hover [class^=dgls-rotate]>*,
    :focus>.dgls-izmir [class*=" dgls-reveal"]>*,
    :focus>.dgls-izmir [class*=" dgls-rotate"]>*,
    :focus>.dgls-izmir [class^=dgls-reveal]>*,
    :focus>.dgls-izmir [class^=dgls-rotate]>* {
        transform: translate(0) rotate(0)
    }

    .dgls-fade-up {
        transform: translateY(1.5rem)
    }

    .dgls-fade-down {
        transform: translateY(-1.5rem)
    }

    .dgls-fade-left {
        transform: translateX(1.5rem)
    }

    .dgls-fade-right {
        transform: translateX(-1.5rem)
    }

    .dgls-reveal-up>* {
        transform: translateY(100%)
    }

    .dgls-reveal-down>* {
        transform: translateY(-100%)
    }

    .dgls-reveal-left>* {
        transform: translateX(100%)
    }

    .dgls-reveal-right>* {
        transform: translateX(-100%)
    }

    .dgls-rotate-up-right>* {
        transform-origin: bottom left;
        transform: rotate(90deg)
    }

    .dgls-rotate-up-left>* {
        transform-origin: bottom right;
        transform: rotate(-90deg)
    }

    .dgls-rotate-down-right>* {
        transform-origin: top left;
        transform: rotate(-90deg)
    }

    .dgls-rotate-down-left>* {
        transform-origin: top right;
        transform: rotate(90deg)
    }
    .dgls-reveal-up>* {
        transform: translateY(100%);
        transition: 1s;
    }
    .dgls-reveal-down>* {
        transform: translateY(-100%);
        transition: 1s;
    }
    .dgls-reveal-left>* {
        transform: translateX(100%);
        transition: 1s;
    }
    .dgls-reveal-right>* {
        transform: translateX(-100%);
        transition: 1s;
    }
    .dgls-rotate-up-right>* {
        transform-origin: bottom left;
        transform: rotate(90deg);
        transition: 1s;
    }
    .dgls-rotate-up-left>* {
        transform-origin: bottom right;
        transform: rotate(-90deg);
        transition: 1s;
    }
    .dgls-rotate-down-right>* {
        transform-origin: top left;
        transform: rotate(-90deg);
        transition: 1s;
    }
    .dgls-rotate-down-left>* {
        transform-origin: top right;
        transform: rotate(90deg);
        transition: 1s;
    }

Reveal Animation The End */

/* Enable Stagger Animation Start */
@-webkit-keyframes fadeInLeftShort {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-20px, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
    }
}
@keyframes fadeInLeftShort {
    from {
        opacity: 0;
        transform: translate3d(-20px, 0, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}
.fadeInLeftShort {
    animation-name: fadeInLeftShort;
    -webkit-animation-name: fadeInLeftShort;
    animation-timing-function: ease-in-out; /* Smooth easing */
    -webkit-animation-timing-function: ease-in-out;
    animation-fill-mode: both; /* Retain final state */
    -webkit-animation-fill-mode: both;
    animation-duration: 2s; /* Set duration */
    -webkit-animation-duration: 2s;
}
@keyframes fadeInRightShort {
    from {
        opacity: 0;
        transform: translate3d(20px, 0, 0)
    }

    to {
        opacity: 1;
        transform: none;
    }
}
@-webkit-keyframes fadeInRightShort {
    from {
        opacity: 0;
        -webkit-transform: translate3d(20px, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
    }
}
.fadeInRightShort {
    animation-name: fadeInRightShort;
    -webkit-animation-name: fadeInRightShort;
    animation-timing-function: ease-in-out; /* Smooth easing */
    -webkit-animation-timing-function: ease-in-out;
    animation-fill-mode: both; /* Retain final state */
    -webkit-animation-fill-mode: both;
    animation-duration: 2s; /* Set duration */
    -webkit-animation-duration: 2s;
}
@keyframes fadeInUpShort {
    from {
        opacity: 0;
        transform: translate3d(0, 20px, 0)
    }

    to {
        opacity: 1;
        transform: none;
    }
}
@-webkit-keyframes fadeInUpShort {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 20px, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
    }
}
.fadeInUpShort {
    animation-name: fadeInUpShort;
    -webkit-animation-name: fadeInUpShort;
    animation-timing-function: ease-in-out; /* Smooth easing */
    -webkit-animation-timing-function: ease-in-out;
    animation-fill-mode: both; /* Retain final state */
    -webkit-animation-fill-mode: both;
    animation-duration: 2s; /* Set duration */
    -webkit-animation-duration: 2s;
}
@keyframes fadeInDownShort {
    from {
        opacity: 0;
        transform: translate3d(0, -20px, 0)
    }

    to {
        opacity: 1;
        transform: none;
    }
}
@-webkit-keyframes fadeInDownShort {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -20px, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
    }
}
.fadeInDownShort {
    animation-name: fadeInDownShort;
    -webkit-animation-name: fadeInDownShort;
    animation-timing-function: ease-in-out; /* Smooth easing */
    -webkit-animation-timing-function: ease-in-out;
    animation-fill-mode: both; /* Retain final state */
    -webkit-animation-fill-mode: both;
    animation-duration: 2s; /* Set duration */
    -webkit-animation-duration: 2s;
}
@keyframes zoomInShort {
    from {
        opacity: 0;
        transform: scale3d(.97, .97, .97);
    }

    50% {
        opacity: 1;
    }
}
@-webkit-keyframes zoomInShort {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.97, .97, .97);
    }

    50% {
        opacity: 1;
    }
}
.zoomInShort {
    animation-name: zoomInShort;
    -webkit-animation-name: zoomInShort;
    animation-timing-function: ease-in-out; /* Smooth easing */
    -webkit-animation-timing-function: ease-in-out;
    animation-fill-mode: both; /* Retain final state */
    -webkit-animation-fill-mode: both;
    animation-duration: 2s; /* Set duration */
    -webkit-animation-duration: 2s;
}

@keyframes bounceInShort {

    20%,
    40%,
    60%,
    80%,
    from,
    to {
        animation-timing-function: cubic-bezier(.215, .61, .355, 1)
    }
    0% {
        opacity: 0;
        transform: scale3d(.97, .97, .97)
    }
    20% {
        transform: scale3d(1.03, 1.03, 1.03)
    }
    40% {
        transform: scale3d(.98, .98, .98)
    }
    60% {
        opacity: 1;
        transform: scale3d(1.02, 1.02, 1.02)
    }
    80% {
        transform: scale3d(.99, .99, .99)
    }
    to {
        opacity: 1;
        transform: scale3d(1, 1, 1)
    }
}

@-webkit-keyframes bounceInShort {

    20%,
    40%,
    60%,
    80%,
    from,
    to {
        -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
    }
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.97, .97, .97);
    }
    20% {
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
    }
    40% {
        -webkit-transform: scale3d(.98, .98, .98);
    }
    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.02, 1.02, 1.02);
    }
    80% {
        -webkit-transform: scale3d(.99, .99, .99);
    }

    to {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
    }
}
.bounceInShort {
    animation-name: bounceInShort;
    -webkit-animation-name: bounceInShort;
    animation-timing-function: ease-in-out; /* Smooth easing */
    -webkit-animation-timing-function: ease-in-out;
    animation-fill-mode: both; /* Retain final state */
    -webkit-animation-fill-mode: both;
    animation-duration: 2s; /* Set duration */
    -webkit-animation-duration: 2s;
}

@keyframes bounceInLeftShort {

    60%,
    75%,
    90%,
    from,
    to {
        animation-timing-function: cubic-bezier(.215, .61, .355, 1);
    }

    0% {
        opacity: 0;
        transform: translate3d(-15px, 0, 0);
    }

    60% {
        opacity: 1;
        transform: translate3d(8px, 0, 0);
    }

    75% {
        transform: translate3d(-8px, 0, 0);
    }

    90% {
        transform: translate3d(4px, 0, 0);
    }

    to {
        transform: none;
    }
}

@-webkit-keyframes bounceInLeftShort {

    60%,
    75%,
    90%,
    from,
    to {
        -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(-15px, 0, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(8px, 0, 0);
    }

    75% {
        -webkit-transform: translate3d(-8px, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(4px, 0, 0);
    }

    to {
        -webkit-transform: none;
    }
}
.bounceInLeftShort {
    animation-name: bounceInLeftShort;
    -webkit-animation-name: bounceInLeftShort;
    animation-timing-function: ease-in-out; /* Smooth easing */
    -webkit-animation-timing-function: ease-in-out;
    animation-fill-mode: both; /* Retain final state */
    -webkit-animation-fill-mode: both;
    animation-duration: 2s; /* Set duration */
    -webkit-animation-duration: 2s;
}

@keyframes bounceInRightShort {

    60%,
    75%,
    90%,
    from,
    to {
        animation-timing-function: cubic-bezier(.215, .61, .355, 1);
    }
    from {
        opacity: 0;
        transform: translate3d(15px, 0, 0);
    }
    60% {
        opacity: 1;
        transform: translate3d(-8px, 0, 0);
    }
    75% {
        transform: translate3d(8px, 0, 0);
    }
    90% {
        transform: translate3d(-4px, 0, 0);
    }
    to {
        transform: none;
    }
}

@-webkit-keyframes bounceInRightShort {

    60%,
    75%,
    90%,
    from,
    to {
        -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
    }
    from {
        opacity: 0;
        -webkit-transform: translate3d(15px, 0, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(-8px, 0, 0);
    }
    75% {
        -webkit-transform: translate3d(8px, 0, 0);
    }
    90% {
        -webkit-transform: translate3d(-4px, 0, 0);
    }
    to {
        -webkit-transform: none;
    }
}
.bounceInRightShort {
    animation-name: bounceInRightShort;
    -webkit-animation-name: bounceInRightShort;
    animation-timing-function: ease-in-out; /* Smooth easing */
    -webkit-animation-timing-function: ease-in-out;
    animation-fill-mode: both; /* Retain final state */
    -webkit-animation-fill-mode: both;
    animation-duration: 2s; /* Set duration */
    -webkit-animation-duration: 2s;
}

@keyframes bounceInUpShort {

    60%,
    75%,
    90%,
    from,
    to {
        animation-timing-function: cubic-bezier(.215, .61, .355, 1);
    }

    from {
        opacity: 0;
        transform: translate3d(0, 15px, 0);
    }

    60% {
        opacity: 1;
        transform: translate3d(0, -8px, 0);
    }

    75% {
        transform: translate3d(0, 8px, 0);
    }

    90% {
        transform: translate3d(0, -4px, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes bounceInUpShort {

    60%,
    75%,
    90%,
    from,
    to {
        -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
    }

    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 15px, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, -8px, 0);
    }

    75% {
        -webkit-transform: translate3d(0, 8px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, -4px, 0);
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
    }
}

.bounceInUpShort {
    animation-name: bounceInUpShort;
    -webkit-animation-name: bounceInUpShort;
    animation-timing-function: ease-in-out; /* Smooth easing */
    -webkit-animation-timing-function: ease-in-out;
    animation-fill-mode: both; /* Retain final state */
    -webkit-animation-fill-mode: both;
    animation-duration: 2s; /* Set duration */
    -webkit-animation-duration: 2s;
}

@keyframes bounceInDownShort {

    60%,
    75%,
    90%,
    from,
    to {
        animation-timing-function: cubic-bezier(.215, .61, .355, 1);
    }

    0% {
        opacity: 0;
        transform: translate3d(0, -15px, 0);
    }
    60% {
        opacity: 1;
        transform: translate3d(0, 8px, 0);
    }
    75% {
        transform: translate3d(0, -8px, 0);
    }
    90% {
        transform: translate3d(0, 4px, 0);
    }
    to {
        transform: none;
    }
}

@-webkit-keyframes bounceInDownShort {

    60%,
    75%,
    90%,
    from,
    to {
        -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -15px, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 8px, 0);
    }
    75% {
        -webkit-transform: translate3d(0, -8px, 0);
    }
    90% {
        -webkit-transform: translate3d(0, 4px, 0);
    }
    to {
        -webkit-transform: none;
    }
}
.bounceInDownShort {
    animation-name: bounceInDownShort;
    -webkit-animation-name: bounceInDownShort;
    animation-timing-function: ease-in-out; /* Smooth easing */
    -webkit-animation-timing-function: ease-in-out;
    animation-fill-mode: both; /* Retain final state */
    -webkit-animation-fill-mode: both;
    animation-duration: 2s; /* Set duration */
    -webkit-animation-duration: 2s;
}

@keyframes flipInXShort {
    from {
        transform: perspective(2500px) rotate3d(10, 0, 0, 10deg);
        animation-timing-function: ease-in;
        opacity: 0;
    }

    40% {
        transform: perspective(2500px) rotate3d(10, 0, 0, -7deg);
        animation-timing-function: ease-in;
    }

    60% {
        transform: perspective(2500px) rotate3d(10, 0, 0, 5deg);
        opacity: 1;
    }

    80% {
        transform: perspective(2500px) rotate3d(10, 0, 0, -2deg);
    }

    to {
        transform: perspective(2500px);
    }
}

@-webkit-keyframes flipInXShort {
    from {
        -webkit-transform: perspective(2500px) rotate3d(10, 0, 0, 10deg);
        -webkit-animation-timing-function: ease-in;
        opacity: 0;
    }

    40% {
        -webkit-transform: perspective(2500px) rotate3d(10, 0, 0, -7deg);
        -webkit-animation-timing-function: ease-in;
    }

    60% {
        -webkit-transform: perspective(2500px) rotate3d(10, 0, 0, 5deg);
        opacity: 1
    }

    80% {
        -webkit-transform: perspective(2500px) rotate3d(10, 0, 0, -2deg);
    }

    to {
        -webkit-transform: perspective(2500px);
    }
}
.flipInXShort {
    backface-visibility: visible !important;
    -webkit-backface-visibility: visible !important;
    animation-name: flipInXShort;
    -webkit-animation-name: flipInXShort;
    animation-timing-function: ease-in-out; /* Smooth easing */
    -webkit-animation-timing-function: ease-in-out;
    animation-fill-mode: both; /* Retain final state */
    -webkit-animation-fill-mode: both;
    animation-duration: 2s; /* Set duration */
    -webkit-animation-duration: 2s;
}

@keyframes flipInYShort {
    from {
        transform: perspective(2500px) rotate3d(0, 1, 0, 10deg);
        animation-timing-function: ease-in;
        opacity: 0;
    }
    40% {
        transform: perspective(2500px) rotate3d(0, 1, 0, -7deg);
        animation-timing-function: ease-in;
    }
    60% {
        transform: perspective(2500px) rotate3d(0, 1, 0, 5deg);
        opacity: 1;
    }
    80% {
        transform: perspective(2500px) rotate3d(0, 1, 0, -2deg);
    }

    to {
        transform: perspective(2500px);
    }
}

@-webkit-keyframes flipInYShort {
    from {
        -webkit-transform: perspective(2500px) rotate3d(0, 1, 0, 10deg);
        -webkit-animation-timing-function: ease-in;
        opacity: 0;
    }

    40% {
        -webkit-transform: perspective(2500px) rotate3d(0, 1, 0, -7deg);
        -webkit-animation-timing-function: ease-in;
    }

    60% {
        -webkit-transform: perspective(2500px) rotate3d(0, 1, 0, 5deg);
        opacity: 1;
    }

    80% {
        -webkit-transform: perspective(2500px) rotate3d(0, 1, 0, -2deg);
    }

    to {
        -webkit-transform: perspective(2500px);
    }
}
.flipInYShort {
    backface-visibility: visible !important;
    -webkit-backface-visibility: visible !important;
    animation-name: flipInYShort;
    -webkit-animation-name: flipInYShort;
    animation-timing-function: ease-in-out; /* Smooth easing */
    -webkit-animation-timing-function: ease-in-out;
    animation-fill-mode: both; /* Retain final state */
    -webkit-animation-fill-mode: both;
    animation-duration: 2s; /* Set duration */
    -webkit-animation-duration: 2s;
}

@keyframes jackInTheBoxShort {
    from {
        opacity: 0;
        transform: scale(.98) rotate(3deg);
        transform-origin: center bottom;
    }
    50% {
        transform: rotate(-2deg);
    }
    70% {
        transform: rotate(1deg);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}
@-webkit-keyframes jackInTheBoxShort {
    from {
        opacity: 0;
        -webkit-transform: scale(.98) rotate(3deg);
        -webkit-transform-origin: center bottom;
    }
    50% {
        -webkit-transform: rotate(-2deg);
    }
    70% {
        -webkit-transform: rotate(1deg);
    }

    to {
        opacity: 1;
        -webkit-transform: scale(1);
    }
}
.jackInTheBoxShort {
    animation-name: jackInTheBoxShort;
    -webkit-animation-name: jackInTheBoxShort;
    animation-timing-function: ease-in-out; /* Smooth easing */
    -webkit-animation-timing-function: ease-in-out;
    animation-fill-mode: both; /* Retain final state */
    -webkit-animation-fill-mode: both;
    animation-duration: 2s; /* Set duration */
    -webkit-animation-duration: 2s;
}
@keyframes rotateInShort {
    from {
        transform-origin: center;
        transform: rotate3d(0, 0, 1, -2deg);
        opacity: 0;
    }

    to {
        transform-origin: center;
        transform: none;
        opacity: 1;
    }
}
@-webkit-keyframes rotateInShort {
    from {
        -webkit-transform-origin: center;
        -webkit-transform: rotate3d(0, 0, 1, -2deg);
        opacity: 0;
    }
    to {
        -webkit-transform-origin: center;
        -webkit-transform: none;
        opacity: 1;
    }
}
.rotateInShort {
    animation-name: rotateInShort;
    -webkit-animation-name: rotateInShort;
    animation-timing-function: ease-in-out; /* Smooth easing */
    -webkit-animation-timing-function: ease-in-out;
    animation-fill-mode: both; /* Retain final state */
    -webkit-animation-fill-mode: both;
    animation-duration: 2s; /* Set duration */
    -webkit-animation-duration: 2s;
}
@keyframes rotateInDownLeftShort {
    from {
        transform-origin: left bottom;
        transform: rotate3d(0, 0, 1, -2deg);
        opacity: 0;
    }
    to {
        transform-origin: left bottom;
        transform: none;
        opacity: 1;
    }
}
@-webkit-keyframes rotateInDownLeftShort {
    from {
        -webkit-transform-origin: left bottom;
        -webkit-transform: rotate3d(0, 0, 1, -2deg);
        opacity: 0;
    }
    to {
        -webkit-transform-origin: left bottom;
        -webkit-transform: none;
        opacity: 1;
    }
}
.rotateInDownLeftShort {
    animation-name: rotateInDownLeftShort;
    -webkit-animation-name: rotateInDownLeftShort;
    animation-timing-function: ease-in-out; /* Smooth easing */
    -webkit-animation-timing-function: ease-in-out;
    animation-fill-mode: both; /* Retain final state */
    -webkit-animation-fill-mode: both;
    animation-duration: 2s; /* Set duration */
    -webkit-animation-duration: 2s;
}

@keyframes rotateInUpLeftShort {
    from {
        transform-origin: left bottom;
        transform: rotate3d(0, 0, 1, 2deg);
        opacity: 0
    }

    to {
        transform-origin: left bottom;
        transform: none;
        opacity: 1;
    }
}
@-webkit-keyframes rotateInUpLeftShort {
    from {
        -webkit-transform-origin: left bottom;
        -webkit-transform: rotate3d(0, 0, 1, 2deg);
        opacity: 0;
    }
    to {
        -webkit-transform-origin: left bottom;
        -webkit-transform: none;
        opacity: 1;
    }
}
.rotateInUpLeftShort {
    animation-name: rotateInUpLeftShort;
    -webkit-animation-name: rotateInUpLeftShort;
    animation-timing-function: ease-in-out; /* Smooth easing */
    -webkit-animation-timing-function: ease-in-out;
    animation-fill-mode: both; /* Retain final state */
    -webkit-animation-fill-mode: both;
    animation-duration: 2s; /* Set duration */
    -webkit-animation-duration: 2s;
}
@keyframes rotateInDownRightShort {
    from {
        transform-origin: right bottom;
        transform: rotate3d(0, 0, 1, 2deg);
        opacity: 0;
    }

    to {
        transform-origin: right bottom;
        transform: none;
        opacity: 1;
    }
}
@-webkit-keyframes rotateInDownRightShort {
    from {
        -webkit-transform-origin: right bottom;
        -webkit-transform: rotate3d(0, 0, 1, 2deg);
        opacity: 0;
    }
    to {
        -webkit-transform-origin: right bottom;
        -webkit-transform: none;
        opacity: 1;
    }
}
.rotateInDownRightShort {
    animation-name: rotateInDownRightShort;
    -webkit-animation-name: rotateInDownRightShort;
    animation-timing-function: ease-in-out; /* Smooth easing */
    -webkit-animation-timing-function: ease-in-out;
    animation-fill-mode: both; /* Retain final state */
    -webkit-animation-fill-mode: both;
    animation-duration: 2s; /* Set duration */
    -webkit-animation-duration: 2s;
}
@keyframes rotateInUpRightShort {
    from {
        transform-origin: right bottom;
        transform: rotate3d(0, 0, 1, -2deg);
        opacity: 0;
    }

    to {
        transform-origin: right bottom;
        transform: none;
        opacity: 1;
    }
}
@-webkit-keyframes rotateInUpRightShort {
    from {
        -webkit-transform-origin: right bottom;
        -webkit-transform: rotate3d(0, 0, 1, -2deg);
        opacity: 0;
    }
    to {
        -webkit-transform-origin: right bottom;
        -webkit-transform: none;
        opacity: 1;
    }
}
.rotateInUpRightShort {
    animation-name: rotateInUpRightShort;
    -webkit-animation-name: rotateInUpRightShort;
    animation-timing-function: ease-in-out; /* Smooth easing */
    -webkit-animation-timing-function: ease-in-out;
    animation-fill-mode: both; /* Retain final state */
    -webkit-animation-fill-mode: both;
    animation-duration: 2s; /* Set duration */
    -webkit-animation-duration: 2s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.fadeIn {
    animation-name: fadeIn;
    -webkit-animation-name: fadeIn;
    animation-timing-function: ease-in-out; /* Smooth easing */
    -webkit-animation-timing-function: ease-in-out;
    animation-fill-mode: both; /* Retain final state */
    -webkit-animation-fill-mode: both;
    animation-duration: 2s; /* Set duration */
    -webkit-animation-duration: 2s;
}

/* Enable Stagger Animation The End */

/* Collect animation css off */

/*============= For responsive CSS3 Start Now >--->==============*/
/* Medium Layout 1280px */
@media only screen and (min-width:992px) and (max-width:1200px){ } 
/* Tablet Layout: 768px */
@media only screen and (min-width:768px) and (max-width:991px){ }
/* Mobile Layout 320px */
@media only screen and (max-width:767px){  }
/* Wide Mobile Layout 480px */
@media only screen and (min-width:480px) and (max-width:766px){} 
/*================= <---End---> responsive CSS3 ===================*/
