.difl_timeline .df_timeline_item .timeline_arrow .timeline_arrow_line,
.difl_timeline .df_timeline_top .df_line_marker,
.difl_timeline .df_timeline_bottom .df_line_marker,
.difl_timeline .df_timeline_title,
.difl_timeline .df_timeline_subtitle,
.difl_timeline .df_timeline_content,
.difl_timeline .df_timeline_content_area .df_timeline_desc,
.difl_timeline .df_timeline_content_area .df_timeline_media,
.difl_timeline .df_timeline_content_area .df_timeline_media>*,
.difl_timeline .df_timeline_button a,
.difl_timeline .df_timeline_marker,
.difl_timeline .df_timeline_marker img,
.difl_timeline .df_timeline_date_content {
  border-width: 0px;
  border-style: solid;
  border-color: #333;
}

.difl_timeline .difl_timelineitem {
  margin-bottom: 0% !important;
}

.difl_timeline .df_timeline_container[class^=df_] {
  box-sizing: border-box;
}

.df_timeline_top,
.df_timeline_bottom {
  font-size: 18px;
  z-index: 3;
  line-height: 1;
}

.df_timeline_top .df_line_marker,
.df_timeline_bottom .df_line_marker {
  z-index: 3;
  opacity: 0;
  left: 50%;
  transition: all 0.3s ease 0s;
}

.df_timeline_top>*,
.df_timeline_bottom>* {
  position: relative;
  display: inline-block;
  overflow: visible !important;
  padding: 5px;
}

.df_timeline_top_icon,
.df_timeline_bottom_icon {
  font-size: 24px;
  color: #333;
}

.df_timeline_top img,
.df_timeline_bottom img {
  width: 30px;
}

.difl_timeline .df_timeline_items {
  position: relative;
  margin: 0px auto;
}

.difl_timeline .df_timeline_item {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: left;
}

.difl_timeline .df_timeline_item.reverse {
  flex-direction: row-reverse;
}

.difl_timeline .df_timeline_marker {
  flex-shrink: 0;
  background: #ddd;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  overflow: hidden;
  position: relative;
  z-index: 3;
}

.difl_timeline .df_timeline_marker.active,
.difl_timeline .df_timeline_top .active.df_line_marker,
.difl_timeline .df_timeline_bottom .active.df_line_marker{
  background: #333;
  transition: all 0.3s ease 0s;
}

.difl_timeline .df_timeline_marker .df_timeline_marker_icon {
  font-size: 24px;
}

.difl_timeline .df_timeline_content_area {
  flex-basis: 50%;
  display: flex;
  width: 100%;
  position: relative;
  overflow: visible !important;
}

.difl_timeline .df_timeline_item.reverse .df_timeline_content_area{
  justify-content: flex-end;
}

.difl_timeline .df_timeline_content {
  background: #ddd;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 0px;
  width: 100%;
}

/* arrow */
.difl_timeline .df_timeline_content_area .timeline_arrow {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* caret */
.difl_timeline .df_timeline_item .df_timeline_content_area .timeline_arrow_caret {
  width: 0px;
  height: 0px;
  border: 20px solid transparent;
  border-left-width: 0px;
  border-right-color: #ddd;
  display: block;
  position: absolute;
  right: 100%;
}

.difl_timeline .df_timeline_item.reverse .df_timeline_content_area .timeline_arrow_caret {
  left: 100%;
  transform: rotate(180deg);
}

.difl_timeline .df_timeline_item .df_timeline_content_area .timeline_arrow_icon {
  font-size: 20px;
  display: block;
  position: absolute;
  top: calc(50% - 15px);
  right: 100%;
  transform: rotate(180deg);
}

.difl_timeline .df_timeline_item.reverse .df_timeline_content_area .timeline_arrow_icon {
  left: 100%;
  transform: rotate(0deg);
}

.difl_timeline .df_timeline_item .df_timeline_content_area .timeline_arrow_line {
  border: 2px solid #ddd;
  position: absolute;
  top: calc(50% - 2px);
  width: 40px;
  right: 100%;
  border-bottom-width: 0px;
}

.difl_timeline .df_timeline_item.reverse .df_timeline_content_area .timeline_arrow_line {
  left: 100%;
}

/* date */
.difl_timeline .df_timeline_date_area {
  flex-basis: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: end;
}

.difl_timeline .df_timeline_item.reverse .df_timeline_date_area {
  justify-content: start;
}

.difl_timeline .df_timeline_date_content {
  width: 40%;
  overflow: visible !important;
  /* for arrow visibility */
  background-color: #ddd;
  padding: 10px;
}

.difl_timeline .df_timeline_date_title {
  word-wrap: break-word;
  color: #333;
  font-size: 24px;
  line-height: 1.7em;
  padding: 0px;
}

.difl_timeline .df_timeline_date_subtitle {
  color: #333;
  padding: 0px;
  font-size: 18px;
  line-height: 1.7em;
}


.difl_timeline .df_timeline_date_area .timeline_arrow {
  width: 100%;
  z-index: -1;
}

/* caret */
.difl_timeline .df_timeline_item .df_timeline_date_area .timeline_arrow_caret {
  width: 0px;
  height: 0px;
  border: 7px solid transparent;
  border-left-width: 0px;
  border-right-color: #ddd;
  display: block;
  position: absolute;
  top: calc(50% - 7px);
  transform: rotate(180deg);
  left: 100%;
}

.difl_timeline .df_timeline_item.reverse .df_timeline_date_area .timeline_arrow_caret {
  left: auto;
  right: 100%;
  transform: rotate(0deg);
}

.difl_timeline .df_timeline_item .df_timeline_date_area .timeline_arrow_icon {
  font-size: 20px;
  display: block;
  position: absolute;
  top: calc(50% - 15px);
  left: 100%;
  transform: rotate(0deg);
}

.difl_timeline .df_timeline_item.reverse .df_timeline_date_area .timeline_arrow_icon {
  left: auto;
  right: 100%;
  transform: rotate(180deg);
}

.difl_timeline .df_timeline_item .df_timeline_date_area .timeline_arrow_line {
  border: 2px solid #ddd;
  position: absolute;
  top: calc(50% - 3px);
  width: 40px;
  left: 100%;
  border-bottom-width: 0px;
}

.difl_timeline .df_timeline_item.reverse .df_timeline_date_area .timeline_arrow_line {
  left: auto;
  right: 100%;
}

.difl_timeline .df_timeline_title {
  font-size: 24px;
  color: #333;
  margin: 0;
  padding: 0;
  line-height: 1.7em;
}

.difl_timeline .df_timeline_subtitle {
  font-size: 18px;
  color: #333;
  line-height: 1.7em;
  padding: 0px;
}

.difl_timeline .df_timeline_content_area .df_timeline_media {
  line-height: 0;
  flex-basis: inherit;
}

.difl_timeline .df_timeline_content_area .df_timeline_media img {
  width: 100%;
  height: auto;
}

.difl_timeline .df_timeline_content_area .df_timeline_media .df_timeline_content_icon {
  font-size: 30px;
}

.difl_timeline .df_timeline_desc {
  font-size: 14px;
  line-height: 1.7em;
  flex-basis: inherit;
  color: #333;
}

.difl_timeline .df_timeline_desc ul {
  list-style-position: outside;
  list-style-type: disc;
}

.difl_timeline .df_timeline_button a {
  display: inline-flex;
  overflow: hidden;
  align-items: center;
  font-size: 18px;
  line-height: 1.5em;
  text-align: left;
}

.difl_timeline .df_timeline_btn_icon {
  vertical-align: top;
  font-size: 18px;
}


.difl_timeline .df_timeline_line {
  position: absolute;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 50%;
  height: 100%;
  z-index: 1;
  opacity: 0;
}

.difl_timeline .df_line_inner {
  background-color: #333;
  width: 3px;
  position: absolute;
  top: 0;
  z-index: 2;
}

.difl_timeline .df_hide_section {
  opacity: 0 !important;
}

.difl_timeline .df_disable_section {
  display: none !important;
}

.difl_timeline .df_timeline_notice {
  background-color: #eeeeee;
  padding: 10px 20px;
  text-align: center;
  width: 100%;
}

@media only screen and (max-width: 767px) {
  /* Global */
  .difl_timeline .df_timeline_item.reverse .df_timeline_content_area,
  .difl_timeline .df_timeline_item .df_timeline_content_area{
    justify-content: center;
  }

  .difl_timeline .df_timeline_container.layout_middle .df_timeline_content_area .df_timeline_content{
    margin-top: 10px;
  }

  .difl_timeline .df_timeline_date_area .df_timeline_date_content{
    width: 100%;
  }

  .difl_timeline .df_timeline_container .df_timeline_date_content {
    margin-bottom: 10px;
  }

  .difl_timeline .df_timeline_container.layout_middle .df_timeline_date_content {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .difl_timeline .df_timeline_item .df_timeline_marker {
    position: absolute;
  }

  /* Layout left */
  .difl_timeline .df_timeline_container.layout_left .df_timeline_item {
    display: block;
  }

  .difl_timeline .df_timeline_container.layout_left .df_timeline_content_area{
    justify-content: left;
  }

  .difl_timeline .df_timeline_container.layout_left .df_timeline_content_area .df_timeline_content,
  .difl_timeline .df_timeline_container.layout_left .df_timeline_date_area .df_timeline_date_content:not(.df_timeline_content_area .df_timeline_date_content){
    margin-left: 80px;
  }

  .difl_timeline .df_timeline_container.layout_left .df_timeline_date_area {
    justify-content: start;
  }

  .difl_timeline .df_timeline_container.layout_left .df_timeline_item .df_timeline_content_area .timeline_arrow>* {
    transform: rotate(0deg);
    right: 100%;
    left: auto;
  }

  .difl_timeline .df_timeline_container.layout_left .df_timeline_item .df_timeline_date_area .timeline_arrow>* {
    transform: rotate(0deg);
    right: 100%;
    left: auto;
  }

  /* Layout right */
  .difl_timeline .df_timeline_container.layout_right .df_timeline_item {
    display: block;
  }

  .difl_timeline .df_timeline_container.layout_right .df_timeline_content_area{
    justify-content: right;
  }

  .difl_timeline .df_timeline_container.layout_right .df_timeline_content_area .df_timeline_content,
  .difl_timeline .df_timeline_container.layout_right .df_timeline_date_area .df_timeline_date_content:not(.df_timeline_content_area .df_timeline_date_content){
    margin-left: auto;
    margin-right: 80px;
  }

  .difl_timeline .df_timeline_container.layout_right .df_timeline_date_area {
    justify-content: end;
  }

  .difl_timeline .df_timeline_container.layout_right .df_timeline_item .df_timeline_content_area .timeline_arrow>* {
    transform: rotate(180deg);
    right: auto;
    left: 100%;
  }

  .difl_timeline .df_timeline_container.layout_right .df_timeline_item .df_timeline_date_area .timeline_arrow>* {
    transform: rotate(180deg);
    right: auto;
    left: 100%;
  }

  /* middle */
  .difl_timeline .df_timeline_container.layout_middle .df_timeline_item {
    z-index: 3;
    opacity: 1;
    display: flex;
    flex-direction: column;
  }

  .difl_timeline .df_timeline_container.layout_middle .df_timeline_date_area {
    width: 100%;
    justify-content: center;
    order: 2;
    margin-top: 0px;
    position: relative;
  }

  .difl_timeline .df_timeline_container.layout_middle .df_timeline_marker {
    position: relative;
    order: 1;
    margin: 0px auto;
  }

  .difl_timeline .df_timeline_container.layout_middle .df_timeline_content_area {
    order: 3;
  }

  .difl_timeline .df_timeline_container.layout_middle .df_line_inner {
    z-index: -1;
  }

  .difl_timeline .df_timeline_container.layout_middle .timeline_arrow {
    display: none;
  }

}
