.df-popup-plugin__main .df-popup-blocks-color-picker span{width:30px;height:30px;border-radius:50%;margin-right:8px}
.df-popup-plugin__main .df-popup-blocks-color-picker span{width:30px;height:30px;border-radius:50%;margin-right:8px}
