.df-select2-wrapper {
    font-family: Open Sans,Helvetica,Roboto,Arial,sans-serif;
}

.difl-selected-container{
    width: 100%;
    min-height: 30px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 3px;
    padding-inline-end: 20px;
    background: #f1f5f9;
    border-radius: 3px;
    cursor: pointer;
}

.difl-selected-container::after{
    content: "\f140";
    font-family: dashicons;
    position: absolute;
    width: 30px;
    height: -webkit-fill-available;
    right: 0;
    top: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: rgb(190, 201, 213);
    font-weight: 700;
}

.difl-selected-container .selected-items{
    height: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    border-radius: 3px;
    margin: 1px;
    margin-inline-end: 2px;
    padding-inline-start: 4px;
    padding-inline-end: 3px;
    background: #f5f5f5;

}
.difl-selected-container .selected-items *{
    cursor: pointer;
    line-height: 20px;
    vertical-align: middle;
}
.difl-selected-container .selected-items span{
    margin-right: 8px;
    color: #4c5866;
}
.difl-selected-container span{
    color: rgba(76, 88, 102, 0.8);
    font-size: 13px;
    font-weight: 600;
    user-select: none;
}

.difl-selected-container .selected-items i{
    font-family: dashicons;
    padding: 0;
    margin: 0;
    font-size: 13px;
    color: #FF000088;
    font-style: normal;
}

.df-select2-wrapper #df-select2-field {
    height: initial;
    max-height: initial;
    width: 100%;
    overflow-y: auto;
    display: none;
    position: absolute;
    z-index: 999;
    border: none;
    background: #fff;
    -webkit-box-shadow: 0 5px 30px rgba(43,135,218,.2);
    box-shadow: 0 5px 30px rgba(43,135,218,.2);
    border: 0;
    border-radius: 3px;
    margin: 0;
    padding: 16px;
    color: #4c5866;
}

.df-select2-wrapper #df-select2-field::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.df-select2-wrapper #df-select2-field::-webkit-scrollbar
{
    width: 5px;
    background-color: #F5F5F5;
}

.df-select2-wrapper #df-select2-field::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: rgba(85, 85, 85, 0.8);
}

.df-select2-wrapper .active{
    display: block !important;
}

.df-select2-wrapper #df-select2-field option{
    height: 30px !important;
    color: #4c5866;
    font-size: 13px;
    font-weight: 600;
    padding: 2px 12px;
    border-radius: 3px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.df-select2-wrapper #df-select2-field option:hover{
    background-color: #168ade;
    color: #fff;
    border-radius: 5px;
    cursor:pointer !important;
}

.df-select2-wrapper #df-select2-field .no-hover{
    pointer-events: none;
}
.df-select2-wrapper #df-select2-field .no-hover:hover{
    background-color: unset !important;
    color: unset !important;
}