/*!*******************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[2].use[2]!./src/fields/grid-layout-field/styles.scss ***!
  \*******************************************************************************************************************************************************************************************/
.diviflash_grid_layout {
  position: relative;
}
.diviflash_grid_layout__fields {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  gap: 5px;
  border: 2px dashed rgba(133, 131, 131, 0.4);
  padding: 5px;
  border-radius: 4px;
}
.diviflash_grid_layout__fields__field {
  background: rgba(133, 131, 131, 0.1);
  width: 100%;
  min-height: 20px;
  border-radius: 2px;
  transition: background-color 0.2s;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px, rgba(0, 0, 0, 0.1) 0px 0px 1px 1px;
}
.diviflash_grid_layout__fields__field.highlighted {
  background: var(--app-color-dark);
}
.diviflash_grid_layout__fields__field.selected {
  background: #0acfa0;
}
.diviflash_grid_layout__tooltip {
  position: absolute;
  z-index: 100000000000000000000;
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  pointer-events: none;
  font-size: 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
/*!*********************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[2].use[2]!./src/components/bento-grid-item/styles.scss ***!
  \*********************************************************************************************************************************************************************************************/
.et_pb_gutters3 .et_pb_column_4_4 .et_pb_module .difl_bento_grid_item {
  margin-bottom: 0;
}

.difl_bento_grid_item {
  overflow-y: auto;
  width: 100%;
  height: auto;
}
.difl_bento_grid_item::-webkit-scrollbar {
  width: 0;
}
.difl_bento_grid_item__button_wrapper .difl_bento_grid_item__button {
  display: inline-block;
}
/*!*********************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[2].use[2]!./src/fields/grid-layout-manager/styles.scss ***!
  \*********************************************************************************************************************************************************************************************/
.diviflash_grid_layout_manager__popup {
  padding: 0 16px 16px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1.5px);
  z-index: 9999999999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.diviflash_grid_layout_manager__popup__wrapper {
  position: relative;
  width: auto;
  background: white;
  border-radius: 5px;
  padding: 10px;
}
.diviflash_grid_layout_manager__popup__wrapper__close {
  position: absolute;
  top: -25px;
  right: 0;
  cursor: pointer;
}
.diviflash_grid_layout_manager__popup__wrapper__close::after {
  content: "M";
  font-family: ETModules;
  font-size: 26px;
  line-height: 1em;
  font-weight: 800;
  color: white;
  padding: 2px;
  position: absolute;
  background: red;
  border-radius: 100%;
}
.diviflash_grid_layout_manager__popup__wrapper__container {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  border: 2px dashed transparent;
  gap: 5px;
  padding: 5px;
  border-radius: 4px;
  z-index: 2;
}
.diviflash_grid_layout_manager__popup__wrapper__container__content {
  position: relative;
  background: var(--app-color-dark);
  width: 75px;
  height: 75px;
  border-radius: 2px;
  transition: background-color 0.2s;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px, rgba(0, 0, 0, 0.1) 0px 0px 1px 1px;
}
.diviflash_grid_layout_manager__popup__wrapper__container__content:hover .diviflash_grid_layout_manager__actions {
  display: block;
}
.diviflash_grid_layout_manager__popup__wrapper__helper_container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  border: 2px dashed rgba(133, 131, 131, 0.4);
  gap: 5px;
  padding: 5px;
  border-radius: 4px;
  z-index: 1;
}
.diviflash_grid_layout_manager__popup__wrapper__helper_container__content {
  width: 75px;
  height: 75px;
  outline: 1px dashed rgba(133, 131, 131, 0.1);
}
.diviflash_grid_layout_manager__actions {
  display: none;
  width: 100%;
  height: 100%;
}
.diviflash_grid_layout_manager__actions .active::before {
  background-color: #fff;
}
.diviflash_grid_layout_manager__actions__left::before {
  content: "#";
  font-family: ETModules;
  font-size: 14px;
  line-height: 1em;
  font-weight: 800;
  padding: 4px;
  position: absolute;
  top: 50%;
  left: -10px;
  transform: translateY(-50%);
  border-radius: 100%;
  cursor: col-resize;
  color: #000;
  text-shadow: 0px 0px 1px #FF0000;
}
.diviflash_grid_layout_manager__actions__left:hover::before {
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px;
}
.diviflash_grid_layout_manager__actions__right::before {
  content: "$";
  font-family: ETModules;
  font-size: 14px;
  line-height: 1em;
  font-weight: 800;
  padding: 4px;
  position: absolute;
  top: 50%;
  right: -10px;
  transform: translateY(-50%);
  border-radius: 100%;
  cursor: col-resize;
  color: #000;
  text-shadow: 0px 0px 1px #FF0000;
}
.diviflash_grid_layout_manager__actions__right:hover::before {
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px;
}
.diviflash_grid_layout_manager__actions__top::before {
  content: "!";
  font-family: ETModules;
  font-size: 14px;
  line-height: 1em;
  font-weight: 800;
  padding: 4px;
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 100%;
  cursor: row-resize;
  color: #000;
  text-shadow: 0px 0px 1px #FF0000;
}
.diviflash_grid_layout_manager__actions__top:hover::before {
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px;
}
.diviflash_grid_layout_manager__actions__bottom::before {
  content: '"';
  font-family: ETModules;
  font-size: 14px;
  line-height: 1em;
  font-weight: 800;
  padding: 4px;
  position: absolute;
  left: 50%;
  bottom: -10px;
  transform: translateX(-50%);
  border-radius: 100%;
  cursor: row-resize;
  color: #000;
  text-shadow: 0px 0px 1px #FF0000;
}
.diviflash_grid_layout_manager__actions__bottom:hover::before {
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px;
}
.diviflash_grid_layout_manager__actions__top_left::before {
  content: "-";
  font-family: ETModules;
  font-size: 10px;
  line-height: 1em;
  font-weight: 800;
  padding: 4px;
  position: absolute;
  top: -8px;
  left: -8px;
  border-radius: 100%;
  cursor: nwse-resize;
  color: #000;
  text-shadow: 0px 0px 1px #FF0000;
}
.diviflash_grid_layout_manager__actions__top_left:hover::before {
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px;
}
.diviflash_grid_layout_manager__actions__top_right::before {
  content: ".";
  font-family: ETModules;
  font-size: 10px;
  line-height: 1em;
  font-weight: 800;
  padding: 4px;
  position: absolute;
  top: -8px;
  right: -8px;
  border-radius: 100%;
  cursor: nesw-resize;
  color: #000;
  text-shadow: 0px 0px 1px #FF0000;
}
.diviflash_grid_layout_manager__actions__top_right:hover::before {
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px;
}
.diviflash_grid_layout_manager__actions__bottom_left::before {
  content: ".";
  font-family: ETModules;
  font-size: 10px;
  line-height: 1em;
  font-weight: 800;
  padding: 4px;
  position: absolute;
  left: -8px;
  bottom: -8px;
  border-radius: 100%;
  cursor: nesw-resize;
  color: #000;
  text-shadow: 0px 0px 1px #FF0000;
}
.diviflash_grid_layout_manager__actions__bottom_left:hover::before {
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px;
}
.diviflash_grid_layout_manager__actions__bottom_right::before {
  content: "-";
  font-family: ETModules;
  font-size: 10px;
  line-height: 1em;
  font-weight: 800;
  padding: 4px;
  position: absolute;
  right: -8px;
  bottom: -8px;
  border-radius: 100%;
  cursor: nwse-resize;
  color: #000;
  text-shadow: 0px 0px 1px #FF0000;
}
.diviflash_grid_layout_manager__actions__bottom_right:hover::before {
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px;
}
/*!****************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[2].use[2]!./src/components/bento-grid/styles.scss ***!
  \****************************************************************************************************************************************************************************************/
.difl_bento_grid {
  display: flex;
  align-items: center;
  justify-content: center;
}
.difl_bento_grid__inner {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 16px;
}
.difl_bento_grid__inner .__title {
  z-index: 2;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}
.difl_bento_grid__inner .__sub_title {
  z-index: 2;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}
.difl_bento_grid__inner .__content {
  z-index: 2;
  font-size: 14px;
  color: #fff;
}
/*!*******************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[2].use[2]!./src/components/logo-showcase/styles.scss ***!
  \*******************************************************************************************************************************************************************************************/
.difl_bento_grid {
  display: flex;
  align-items: center;
  justify-content: center;
}
.difl_bento_grid__inner {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 16px;
}
.difl_bento_grid__inner .__title {
  z-index: 2;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}
.difl_bento_grid__inner .__sub_title {
  z-index: 2;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}
.difl_bento_grid__inner .__content {
  z-index: 2;
  font-size: 14px;
  color: #fff;
}
